.feynman__link {
	color: #980808;
	text-decoration: none;
	line-height: 51px;
	font-size: 36px;
	font-weight: 400;
	position: absolute;
	right: 45px;
	top: 50%;
	opacity: 1;
	-webkit-transition: opacity 0.1s linear;
	-o-transition: opacity 0.1s linear;
	transition: opacity 0.1s linear;
}

.feynman__link:hover {
	opacity: 0.5;
}
