.oakley {
	padding: 160px 0px 0px 0px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	background-color: #f2f2f2;
}