.header__title {
	max-width: 730px;
	font-size: 102px;
	font-weight: 700;
	margin: 0px 0px 0px 64px;
	line-height: 96px;
	z-index: 3;
	padding: 0;
	-ms-flex-item-align: center;
		-ms-grid-row-align: center;
		align-self: center;
}